@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img-home{
    background-image: url(home-main2.jpeg);
    background-size: cover;
}
.bg-img1-row1{
    background-image: url(image22.jpg);
    background-size: cover;
    
}
.overlay {
    position: absolute;
    inset: 0;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay:hover {
    background-color: transparent;
}

.overlay-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 2rem;
    transition: font-size 0.3s ease;
}

.overlay-text:hover {
    font-size: 3rem;
}